body {
    background-image: url(Silver_Roulette-BB.png);
    background-color: darkviolet;
    color: rgb(153, 178, 202);
    font-family: 'Handlee', cursive;
    background-size: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1{
    color: paleturquoise;
}
header{
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 30px;
    border-bottom: solid lightslategrey 2px;
    text-align: center;
    background-color:midnightblue;
    background-image: url(In_Touch.png);
    background-repeat: no-repeat;
}

a{
    font-weight: bolder;
    color: rgb(153, 178, 202);
}

button{
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    background-color:midnightblue;
    padding: 10px;
    margin: 2%; 
    border-radius: 25px;
    color: paleturquoise;
    font-size: x-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button:hover {
    opacity: 100%;
    box-shadow: inset 0px 0px 10px
    rgb(36, 68, 57), 0 0 15px;  
} 

button:active {
    opacity: 100%;
    box-shadow: inset 0px 0px 10px
    rgb(36, 68, 57), 0 0 15px;
    background-color: rgb(17, 17, 71);
}

#about-me, #example-pages, #contact-info, #digital-art{
    transition: all 0.2s ease-in-out;
    padding: 2%;
    font-size: x-large;
    background-color:midnightblue;
    background-image: url(In_Touch.png);
    background-repeat: no-repeat;
    border: lightslategray solid 2px;
    border-radius: 25px;
    margin: 5%;
}

#about-me:hover, #example-pages:hover, #contact-info:hover, #digital-art:hover {
    box-shadow: inset 0px 0px 10px
    rgba(175,238,238), 0 0 15px
    rgba(175,238,238);  
} 

#example-pages{
    float: left;
    padding: 2%;
    font-size: larger;
    margin-left: 5%;
    margin-bottom: 5%;
}

#example-pages h3{
    text-align: center;
}

#example-pages img{
    transition: all 0.2s ease-in-out;
    display: none;
    opacity: 100%;
}

a:hover{
    color: paleturquoise;
} 


#example-pages li:hover img{
    display: inline;
    position: absolute;
    opacity: 80%;
    margin-left: 5%;
    border: lightslategray solid 2px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px
    rgba(175,238,238), 0 0 15px
    rgba(175,238,238);  
    
}

#contact-info{
    transition: all 0.2s ease-in-out;
    height: max-content;
    width: auto;
    float: right;
    top: 0;
    right: 0;
    margin-right: 5%;
    width: 20%;
    overflow-x: hidden;
}

#contact-info h3{
    padding: 2%;
}

#digital-art:hover {
    box-shadow: inset 0px 0px 10px
    rgba(175,238,238), 0 0 15px
    rgba(175,238,238); 
}


footer{
    clear: both;
    bottom: 0%;
    margin-bottom: 0%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid lightslategrey 2px;
    text-align: center;
    background-image: url(In_Touch.png);
    background-repeat: no-repeat;
    background-color:midnightblue;
    background-size:auto;
}

@media screen and (max-width:1117px) {
    #example-pages{
        float: none;
        width: auto;
        margin-right: 5%;
    }
    #contact-info {
        float: none;
        width: auto;
        margin-left: 5%;
    }
}